body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: black;
}

textarea {
    resize: none;
}
textarea:focus {
    outline: none;
}

.input-region {
    position: relative;
    width: 80%;
    height: 20vh;
    background-color: black;
    padding: 0px 10% 0px 10%;
}

.output-region {
    position: relative;
    width: 80%;
    height: 80vh;
    background-color: black;
    padding: 0px 10% 0px 10%;
}

.string-box-wrapper {
    float: left;
    width: 33.333%;
    height: 26.666vh;
}
.string-box {
    position: relative;
    width: calc(88% - 40px);
    height: calc(22vh - 40px);
    background-color: #272822;
    border: 0px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 1vh 6% 0px 6%;
    padding: 20px;
    color: cyan;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    word-wrap: break-word;
    overflow: auto;
}
.string-box::-webkit-scrollbar {
    display: none;
}

.author-label {
    width: 88%;
    height: 3vh;
    margin: 0px 6% 0.666vh 6%;
    color: #75715E;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    overflow: hidden;
}

#input {
    width: calc(96% - 40px);
    height: calc(15.333vh - 40px);
    margin: 2.333vh 2% 2.333vh 2%;
}